/* CLASSES AND GLOBALS */

body {
    background-color: #eee;
    min-width: 1000px;
}

.button {
    background-color: white;
    font-family: 'Libre Baskerville';
    font-size: 0.40rem;
    font-weight: bold;
    padding: 0.75rem 2rem;
    border: 0;
    border-radius: 2rem;
    text-decoration: none;
    color: black;
    box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.3);
}

.block {
    width: 70%;
    min-width: 900px;
    max-width: 1100px;
    margin: auto;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Libre Baskerville';
}

p,textarea,span,input{
    font-weight: bold;
    font-size: 0.8rem;
    font-family: 'Source Sans Pro';
}

/* HELLO THERE */

#hello-there {
    height: 19rem;
    background-color: #C7DDEA;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;

}

#hello-grid-mid {
    margin:auto
}

#oh-hello-there {
    font-weight: 900;
}

#hello-grid-right {
    background-image: url('../images/man-and-child.PNG');
    background-size: 60%;
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: bottom left;
}

/* NAVIGATION ROW */

nav {
    display:flex;
    justify-content: center;
    background-color: #eee;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    font-size: 0.6rem;
    padding: 1rem 3.5rem;
    color: rgba(0,0,0,0.5);
    font-family: 'Source Sans Pro';
}

nav a:hover {
    color: black;
}

/* WHAT'S ON YOUR MIND? */

#mind-grid {
    height: 32rem;
    background-color: #bfbbbb;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#mind-grid h1 {
    margin: 0 2rem 0 0;
    padding: 7rem 5rem;
    color: white;
}

#mind-form {
    display: flex;
    flex-direction: column;
    padding: 7rem 10rem 0 0;
}

#mind-form span {
    margin:0.5rem 0;
    color:rgba(255,255,255,0.7);
}

#email,#textbox {
    border:none;
    border-radius: 0.2rem;
}
#email {
    margin-bottom: 1.5rem;
    height: 2rem;
    text-indent: 1rem;
}

#textbox {
    height: 25%;
    padding: 1rem;
    resize: none;
}

#send-message {
    align-self: flex-end;
    margin-top: 2rem;
    width: 40%;
}

/* COME VISIT US */

#map {
    display: flex;
    background-image: url(../images/map.PNG);
    height: 23rem;
}

#come-visit {
    background-color:#fab131;
    display: flex;
    flex-direction: column;
    color: white;
    width: 15rem;
    height: 10rem;
    padding: 0.5rem 1.5rem;
    margin: 3rem 4rem;
    box-shadow: 0px 0px 42px 20px rgba(0,0,0,0.6);
    }

#come-visit h1 {
    margin-bottom: 0;
}

/* BOTTOM BLOCK */

#bottom-block {
    background-color: #999696;
    height: 25rem;
}
