/* CLASSES AND GLOBALS */

body {
    background-color: #eee;
    min-width: 1000px;
}

.block {
    width: 70%;
    min-width: 900px;
    max-width: 1100px;
    margin: auto;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Libre Baskerville';
}

p {
    font-weight: bold;
    font-size: 0.8rem;
    font-family: 'Source Sans Pro';
}

/* HELLO THERE */

#hello-there {
    height: 19rem;
    background-color: #C7DDEA;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;

}

#hello-grid-mid {
    margin:auto
}

#oh-hello-there {
    font-weight: 900;
}

#hello-grid-right {
    background-image: url('../images/man-and-child.PNG');
    background-size: 60%;
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: bottom left;
}

/* NAVIGATION ROW */

nav {
    display:flex;
    justify-content: center;
    background-color: #eee;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    font-size: 0.6rem;
    padding: 1rem 3.5rem;
    color: rgba(0,0,0,0.5);
    font-family: 'Source Sans Pro';
}

nav a:hover {
    color: black;
}
