/* CLASSES */

body {
    background-color: #eee;
    min-width: 1000px;
}

.block {
    width: 70%;
    min-width: 900px;
    max-width: 1100px;
    margin: auto;
}

.white {
    color: white;
}

.join-now-button {
    background-color: white;
    font-family: 'Libre Baskerville';
    font-size: 0.60rem;
    font-weight: bold;
    padding: 0.75rem 2rem;
    border-radius: 2rem;
    text-decoration: none;
    color: black;
    box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.3);
}

/* INTRO BLOCK */
#intro-block {
    display: grid;
    height: 30rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "c j"
                        "c l";
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Libre Baskerville';
}

p {
    font-weight: bold;
    font-size: 0.8rem;
    font-family: 'Source Sans Pro';
}

#covered {
    grid-area: c;
    padding-top: 2rem;
    background-image: url('../images/family.png');
    background-size: 57%;
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: bottom right;
    background-color: #C7DDEA;
    }

#covered img {
    height: 40%;
    align-self: end;
    justify-self: end;
}

#covered h1, #covered p, #covered a {
    margin-left: 6rem;
    margin-right: 6rem;
}

#covered p {
    padding-bottom: 2rem;
    line-height: 1.4rem;
    margin-right: 8.5rem;
}

#covered h1 {
    font-weight: bolder;
}

#learn-more h5, #join-today h5 {
    font-size: 0.7rem;
    padding-top: 0;
    margin: 0;
}

#learn-more a, #join-today a {
    font-family: 'Libre Baskerville';
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

#learn-more {
    grid-area: j;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F17949;
}

#join-today {
    grid-area: l;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FAB131;
}

/* NAVIGATION ROW */

nav {
    display:flex;
    justify-content: center;
    background-color: #eee;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    font-size: 0.6rem;
    padding: 1rem 3.5rem;
    color: rgba(0,0,0,0.5);
    font-family: 'Source Sans Pro';
}

nav a:hover {
    color: black;
}


/* GREY BLOCK */

#grey-block {
    display: grid;
    background-color: #bfbbbb;
    height: 30rem;
    grid-template-columns: 1fr 1fr;
}

#grey-block-left * {
    margin: 4rem 6rem;
}

#grey-block-left h1 {
    color: white;
    font-weight: bold;
}

#grey-block-right p {
    margin: 4rem 3rem;
    padding-right: 6rem;
    line-height: 1.4rem;
    color: #444
}

/* CARDS */

#card-grid-holder {
    height: 0;
    }

#card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin: 0 2rem;
}

.card {
    text-align: center;
}

.card h3 {
    margin-top: 0;
    font-size: 0.8rem;
}

.card p {
    font-size: 0.6rem;
    padding: 0 1rem;
    color: rgba(0,0,0,0.5);
    line-height: 1.05rem;
}

.card-image {
    margin:auto;
    height: 50%;
    width: 90%;
    border-radius: 0.4rem;
    position: relative;
    bottom: 1rem;
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: top;
    background-size: 42%;
}

#children .card-image {
    background-color: lightblue;
    background-image: url('../images/child.png');   
    background-position: center 0.8rem;

}

#just-right .card-image {
    background-color: #FAB131;
    background-image: url('../images/adult.png');
    background-position: center 0.8rem;
}

#old-fart .card-image {
    background-color: #F17949;
    background-image: url('../images/old.png');
    background-size: 66%;
    background-position: center 1rem;
}

.card {
    background-color: white;
    border-radius: 0.4rem;
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.16);
    position: relative;
    height: 19rem;
    width: 15rem;
    bottom: 8rem;
}

/* YELLOW BLOCK */

#yellow-block {
    text-align: center;
    height: 25rem;
    background-color: #FAB131;
    padding-top: 11rem;
}

#yellow-block h1 {
    color: white;
}

#yellow-block p {
    margin: 1rem 15rem;
    color: rgba(0,0,0,0.5);
    line-height: 1.3rem;
}

/* HOW IT WORKS */

#how-it-works-flexbox {
    display: flex;
    flex-wrap: wrap;
    height: 37rem;
}

#how-it-works-flexbox div:nth-child(1) {
    background-color: #C7DDEA;
}

#how-it-works-flexbox div:nth-child(3) {
    background-color: #eee;
}

#how-it-works-flexbox div:nth-child(5) {
    background-color: #F17949;
}

#how-it-works-flexbox div {
    width: 33.333%;
    height: 50%;
    margin: auto;
    align-content: center;
    background-color: white;
    text-align: center;    
}

#how-it-works-flexbox div div {
    padding-top: 4.5rem;
    margin:auto;
    width: 80%;
    }
#how-it-works-flexbox div h2 {
    text-align: left;
    margin-left: 1rem;
}

#how-it-works-flexbox div p {
    align-self: center;
    justify-self: center;
    padding: 4rem;
}

/* TAKE ME TO THE TOP */

#to-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #999999;
}

#to-top p {
    margin:0 0 1.5rem 0;
    font-size: 1.1rem;
    line-height: 0;

}

#to-top-arrow {
    margin:0;
}

.top-link {
    text-decoration: none;
    color: black;
}

/* BOTTOM BLOCK */

#bottom-block {
    background-color: #555555;
    height: 20rem;    
}

